langchain
langchain_classic
langchain_core
langchain_community
langchain_groq
python-dotenv
langgraph
sentence_transformers
ipykernel
faiss-cpu
langchain-tavily
arxiv
langchain-aws
pymupdf
pdfplumber
streamlit
requests
beautifulsoup4
lxml
selenium 
webdriver-manager
jq
langchain_huggingface
chromadb
ragas
datasets
pandas